<header class="bg-white header-shadow z-10">
  <div class="flex items-center justify-between p-4">
    <label for="sidebar-toggle" class="lg:hidden text-gray-600 cursor-pointer">
      <i class="fas fa-bars text-xl"></i>
    </label>

    <div class="hidden md:block flex-1 max-w-md mx-4">

    </div>

    <div class="flex items-center space-x-4">
     

      <div class="relative">
        <div class=" items-center">
          <div class="flex justify-end">
            <div class="dropdown">
              <button class="flex items-center space-x-2">
                <div class=" text-left">
                  <p class="text-sm font-medium text-gray-700">
                    Olá, {{ username }}
                  </p>
                </div>
                <div
                  class="w-10 h-10 rounded-full bg-money-100 flex items-center justify-center"
                >
                  <i class="fas fa-user text-money-600"></i>
                </div>
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</header>
